DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-this-for-a-long-random-secret-key-of-at-least-50-characters
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
SECURE_SSL_REDIRECT=false
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=false
SECURE_HSTS_PRELOAD=false
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false

MYSQL_DATABASE=facturasii
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306

APP_TIME_ZONE=America/Santiago
STORAGE_PATH=storage
DEFAULT_BRAND_NAME=FacturaSII
DEFAULT_BRAND_PRIMARY=#0F4C81

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
CELERY_TASK_ALWAYS_EAGER=false
CELERY_TASK_EAGER_PROPAGATES=true
CELERY_SII_SYNC_INTERVAL_SECONDS=300
JWT_ACCESS_LIFETIME_SECONDS=900
JWT_REFRESH_LIFETIME_SECONDS=604800
JWT_COOKIE_SECURE=false
JWT_COOKIE_SAMESITE=Lax
